# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as seguintes perguntas:

### Qual o gênero de filme mais lucrativo em todo o mundo?

In [75]:
import pandas as pd

filmes = pd.read_csv("movies.csv")

filmes["Lucro em %"] = 100*((filmes["Worldwide Gross"] - filmes["Production Budget"]) / filmes["Production Budget"])

filmes.groupby(["Major Genre"]).mean().sort_values(by="Lucro em %", ascending = False)["Lucro em %"]

#Documentários tiveram a maior percentual de lucro em relação ao gasto na produção.

Major Genre
Documentary            14303.256781
Horror                  6856.414785
Musical                  904.886664
Concert/Performance      547.388370
Action                   407.747676
Drama                    363.808763
Romantic Comedy          340.503942
Adventure                331.619652
Comedy                   313.978973
Thriller/Suspense        249.267395
Western                  189.413298
Black Comedy             141.358616
Name: Lucro em %, dtype: float64

### Qual o diretor dirigiu mais filmes?

In [77]:
from collections import Counter
contagem = Counter(filmes['Director']).most_common(5)
contagem

#Vemos que o que dirigiu mais filmes foi o NaN... Brincadeira, o NaN é quando o diretor não foi informado. 
#Seguido dele, está o Steven Spielberg, que ele sim foi que efetivamente mais dirigiu filmes na lista.'''

[(nan, 1331),
 ('Steven Spielberg', 23),
 ('Woody Allen', 16),
 ('Martin Scorsese', 15),
 ('Spike Lee', 15)]

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [78]:
top_5 = filmes[['Title', 'Lucro em %']].sort_values(by='Lucro em %', ascending=False).head(5)
top_5
#A lista dos 5 filmes que mais arrecadaram grana abaixo! Mas tá muito complicado de entender esse percentual.

                    Title    Lucro em %
2526  Paranormal Activity  1.291703e+06
2920            Tarnation  5.329339e+05
244           Deep Throat  1.799000e+05
603               Mad Max  4.977500e+04
2758        Super Size Me  4.532980e+04

In [79]:
#Vamo dar uma arrumada nisso, só pra dar uma visualizada melhor.

for i in range(top_5.shape[0]):
    numero = top_5['Lucro em %'].iloc[i]
    top_5['Lucro em %'].iloc[i] = f'{numero:.2f}'
top_5

#Pronto, agora podemos ver que esses valores referem ao percentual de lucro. Além disso, o fato de que o filme Atividade Paranormal
#Rendeu mais de 1.000.000% do capital investido é impressionante.

                    Title  Lucro em %
2526  Paranormal Activity  1291703.02
2920            Tarnation   532933.94
244           Deep Throat   179900.00
603               Mad Max    49775.00
2758        Super Size Me    45329.80